################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin
**/obj
/packages
/FeedbackLoopExampleUnityProject/Library/assetDatabase3
/FeedbackLoopExampleUnityProject/Library/metadata
/FeedbackLoopExampleUnityProject/Library/ScriptAssemblies
/FeedbackLoopExampleUnityProject/Library/*Cache*
/FeedbackLoopExampleUnityProject/Library/*.log
/FeedbackLoopExampleUnityProject/Library/*.dwlt
/FeedbackLoopExampleUnityProject/Logs
/FeedbackLoopExampleUnityProject/Temp
/FeedbackLoopExampleUnityProject/Assets/Live Feedback Directory
/FeedbackLoopExampleUnityProject/Assets/Editor
*.user
/FeedbackLoopExampleUnityProject/Assets/Live Feedback Directory.meta
